*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: arial,sans-serif;
}
body{

  height: 100%;
}
.flex-container{
  display: flex;

}
.flex-column{
  flex-direction: column;
}
header{
  padding: 18px 0px 0px 0px;
  width: 100%;
  border-bottom: 1px solid rgb(230, 230, 230);
}
#search-bar{
  width: 700px;
  padding: 13px;
  border-radius: 25px;
  border: 1px solid rgb(233, 233, 233);
  outline: none;

}
::placeholder{
  color: black;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
#top-header{
  align-items: center;
}
#bottom-header{
  width: 670px;
  margin-left: 150px;
  font-size: 13px;
  color: rgb(83, 83, 83);
  margin-top: 20px;
  padding: 15px 0px;

}
#all{
  color: blue;
  border-bottom: 4px solid blue;
}

#bottom-header-left{
  flex: 3;
  justify-content: space-between;
  margin-right: 180px;
}
#bottom-header-right{
  flex: 1;
  justify-content: space-between;
}
#google-logo {
  margin: 0px 30px 0px 15px; 
}
#first-result{
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 40px;
}
#first-result-footer{
  margin-top: 15px;
}
#first-result-footer a{
  font-size: 19px;
}
#result-url{
  margin-bottom: 10px;
}
#no-results{
  margin: 15px 0px;
  color: gray;
  font-size: 13px;
}
main{
  width: 700px;
  margin: 0px 150px;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 201);
}
#result-url{
  color: rgb(66, 66, 66);
  font-size: 12px;
}
.result-website {
  margin: 10px 0px;
}

#also-ask{
  margin: 35px 0px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
}
#also-ask p {
  border-bottom: 1px solid rgb(228, 228, 228);
  padding: 15px;
  font-size: 16px;
}

footer{
  background-color: rgb(253, 253, 239);
  font-size: 14px;
  color: gray;
}
strong{
  color: black;
}
#slash{
  margin: 0px 9px;
  color: rgb(202, 202, 202);
}

#bottom-footer p{
  margin-right: 30px;
}

.result{ 
  margin: 25px 0px;
}
.result-url{
  margin-bottom: 8px;
  font-size: 14px;
}
.result-desc{
  margin-top: 8px;
  font-size: 15px;
  color: rgb(87, 87, 87);
}
.result a {
  font-size: 21px;
}
.result a:hover{
  text-decoration: underline;
}
#search-links {
  margin-top: 8px;

}
#search-links a{
  font-size: 13px;
  margin-right: 10px;
}
#gooogle{
  margin-left: 30px;
}
#pages p {
  margin-right: 9px;
}
#pages a{
 margin-right: 9px;
}
#pages{
  margin-left: 180px;
  margin-bottom: 30px;
}
#page-numbers{
  margin-left: 50px;
}
#next-page {
  margin-left: 40px;
}
#top-footer{
  
  border-bottom: 1px solid rgb(177, 177, 177);
}
#bottom-footer{
  background-color:  rgb(255, 255, 239);

}
#top-footer, #bottom-footer{
  padding: 10px 0px 10px 150px;
  
  
}
#related-searches {
  margin-bottom: 20px;
}
#related-searches p{
  font-size: 19px;
}
#related-searches a{
  margin-top: 11px;
  font-weight: bold;
}