* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  height: 100vh;
  position:relative;
}
.flex-container{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
header{
  height: 5vh;
  flex-direction: row-reverse;
  padding: 10px 40px;
}
header p, header div{
  margin: 0px 15px;
  font-size: 13px;
}
main::before{
  content: "";
  height: 15vh;
}
main{
  height: 70vh;
  justify-content: space-around;
  align-items: center;
}
main::after{
  content: "";
  height: 15vh;
}

#searchbar{
  width: 480px;
  border: 1px solid rgb(223, 223, 223);
  
  border-radius: 19px;
  padding: 13px 10px;
}
#searchbar:hover{
  border: 1px solid rgb(245, 245, 207);  
}
button{
  margin: 0px 7px;
  padding: 9px 15px;
  border-radius: 3px;
  background-color: rgb(254, 255, 246);
  color: rgb(78, 78, 78);
  outline: none;
  border: 1px solid rgb(243, 242, 242);
}
#lang {
  font-size: 13px;
}
#lang a {

  margin: 0px 10px;
  text-decoration: none;
  color: blue;
}
footer::before{
  content: "";
  height: 100px;
}
footer{
  background-color: rgb(255, 255, 245);
  height: 10vh;
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: gray;
  font-size: 13px;
}
#footer-top{
  border-top: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 11px 40px;
}
#footer-bottom{
  padding: 13px 30px;
  justify-content: space-between;

}
footer a{
  text-decoration: none;
  color: gray;
 
}
#footer-left{
  display: flex;
  
}
#footer-left a{
  margin: 0px 10px;
}
#footer-right a{
  margin: 0px 10px;
}