* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: Helvetica, sans-serif;
}
body{
  height: 100vh;
  background-color: rgb(243, 109, 109);
}
header{
  color: white;
}
.flex-container{
  display: flex;
}
.container{
  height: 500px;
}
#result-div{
  width: 69.9%;
  height: 100px;
  margin: 0 auto;
  background-color: rgba(122, 209, 195, 0.452);
  border: 1px solid red;
  position: relative;
}
#result{
  position: absolute;
  top:45%;
  right: 5%;
  font-size: 32px;
}
#calc{
  flex-direction: column;
  width: 70%;
  height: 70%;
  margin: 0 auto;
}

.number, #comma{
  background-color: gray;
}

.row{
  width: 100%;
  height: 20%;

}
.cell{
  width: 25%;
  border: 1px solid black;
  text-align: center;
  height: 100%;
  position: relative;
  
}
#equal{
  background-color: orange;
}
#equal:hover{
  background-color: rgb(32, 31, 133);
}
.cell:hover{
  background-color: rgb(32, 31, 133);
}

#comma:hover {
  background-color: rgb(32, 31, 133);
}

.cell p{
  position: absolute;
  top: 35%;
  left: 45%;
  font-size: 32px;
}
#zero{
  width: 50.5%;
  text-align: center;
}
#comma{
  width: 25%;
}


h1 {
  padding: 30px 0px;
  text-align: center;
  font-size: 36px;
}
.operator{
  background-color: orange;
}
.modifier{
  background-color: white;
}
